.App {
  padding: 0px;
  margin: 0px;
}

.Page{
  min-height: 100vh;
  width: 100%
}

#landing{
  display: flex;
  align-items: center;
  justify-content: center;
}

.home{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.pageTitle{
  margin: 0px;
}
.sectionTitle{
  font-weight:lighter;
  margin: 10px 20px; 
  margin-bottom: 5px;
}

.homeNav{
  padding: 0px;
  padding-inline-start: 0;
  list-style-type: none;
  overflow: hidden;
  justify-content: center;
  padding: 0;
}

.underline{
  background-color: black;
  height:2px;
  margin-top: 0px;
  align-self: center;
}


/*.Page:nth-child(1) {
  background: rgb(255, 247, 131);
}
.Page:nth-child(2) {
  background: rgb(255, 185, 246);
}
.Page:nth-child(3) {
  background: rgb(170, 224, 255);
}
*/ 

@media screen and (min-width: 320px) {
  .pageTitle{
    font-size: calc(60px + 6 * ((100vw - 320px) / 680));
  }
  .sectionTitle{
    font-size: calc(35px + 6 * ((100vw - 320px) / 680));
    margin: 30px 20px;
    margin-bottom: 5px;
    text-align: center;
  }
  .info{
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
  body{
    padding: 0px 0px 100px 0px;
  }
  .underline{
    width: 80%;
  }
  #right-align{
    text-align: center;
  }

}

@media screen and (min-width: 1000px) {
  .pageTitle{
    font-size: 70px;
  }
  .sectionTitle{
    font-size: 55px;
    text-align: left;
  }
  .App{
    width: 80%
  }
  .info{
    font-size: 16px;
  }
  body{
    padding: 0px 0px 100px 0px;
  }
  .underline{
    width: 100%;
  }
  #right-align{
    text-align: right;
  }
}



.jobtitle {
  font-size: 26px;
  color: rgb(116, 115, 115);
  margin: 0px;
  font-weight: bold;
}

.section{
  display:flex;
  flex-direction: column;
  padding: 30px;
  margin: 20px 0px;
  -webkit-box-shadow: -1px 10px 44px -12px rgba(158,204,235,0.31);
  -moz-box-shadow: -1px 10px 44px -12px rgba(158,204,235,0.31);
  box-shadow: -1px 10px 44px -12px rgba(0,0,0,0.31);
  border-color: white;
  border-radius: 10px;
  width: 70%;
  max-width: 760px;
}

.subtitle {
  font-size: 25px;
  margin: 0px;
  font-weight: bold;
}

.subsubtitle{
  font-size: 20px;
  margin: 0px;
}

.info{
  margin: 0px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  }
  50% {
    transform: scale(2);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 8px 25px 0 rgba(0, 0, 0, 0.4);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  }
}

.extrasection{
  display:flex;
  flex-direction: column;
  padding: 20px;
  -webkit-box-shadow: -1px 10px 44px -12px rgba(158,204,235,0.31);
  -moz-box-shadow: -1px 10px 44px -12px rgba(158,204,235,0.31);
  box-shadow: -1px 10px 44px -12px rgba(0,0,0,0.31);
  border-color: white;
  border-radius: 10px;
  min-height: 20vh;
  min-width: 300px;
  max-width: 400px;
  margin:20px;
}

#extraCurr{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 0px;
  margin-bottom: 25px;
  max-width: 1400px;
}

#education{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}