body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Times New Roman', serif;
  background: linear-gradient(
    90deg,
    rgba(240, 240, 240) 0%,
    rgba(240, 240, 240) 71%,
    rgba(240, 240, 240, 0.9164259453781513) 100%
  );
  background-color: rgb(240, 240, 240);


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

#root{
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

#workExp{
  display: flex;
  align-items: center;
  flex-direction: column;

}

html,body
{
    width: 100%;
    margin: 0px;
    overflow-x: hidden; 
}